body {
    margin: auto;
}

.wrapper {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "header  header  header" "content content content" "footer  footer  footer";
    color: #444;
    background: #E0EAFC;
}

.wrapper header {
    grid-area: header;
    background: url("background.jpg") no-repeat center center fixed;
    opacity: 0.7;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 500px;
    max-width: 100%;
    text-align: center;
}

.content {
    grid-area: content;
    position: relative;
    margin: 3em;
    display: grid;
    grid-gap: 2em;
    grid-template-columns: 1fr 1fr 1fr;
}

.content a {
    text-decoration: none;
}

.wrapper footer {
    grid-area: footer;
    height: 3em;
    text-align: center;
}

.item {
    margin: auto;
    padding: 2em;
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr;
    grid-template-areas: "title" "picture" "recipe_text";
    color: #444;
    border: 1px solid black;
}

.item .title {
    grid-area: title;
    font-size: 2em;
    height: 1.5em;
    text-align: center;
}

.item .picture {
    grid-area: picture;
}

.item img {
    max-width: 100%;
    max-height: 100%;
}

.item .recipe_text {
    grid-area: recipe_text;
}


.recipe {
    display: grid;
    grid-gap: 1em;
    grid-column: span 3;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "ingredients  steps  food_picture";
    color: #444;
    background: #E0EAFC;
}

.recipe .ingredients {
    grid-area: ingredients;
}

.recipe .steps {
    grid-area: steps;
}

.recipe .food_picture {
    grid-area: food_picture;
}