body {
    margin: auto;
}

.content {
    grid-area: content;
    position: relative;
}

header {
    grid-area: header;
    background: url("background.jpg") no-repeat center center fixed;
    opacity: 0.7;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 500px;
    max-width: 100%;
    text-align: center;
}

footer {
    grid-area: footer;
    height: 3em;
}

.wrapper {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        "header  header  header"
        "content content content"
        "footer  footer  footer";
    color: #444;
    background: #E0EAFC;  /* fallback for old browsers */
}

.content {
    margin: 3em;
    display: grid;
    grid-gap: 2em;
    grid-template-columns: 1fr 1fr 1fr;
}

.content a {
text-decoration: none;
}

.item {
    margin: auto;
    padding: 2em;
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr;
    grid-template-areas:  "title"
                          "picture"
                          "recipe_text";
    color: #444;
    border: 1px solid black;
}

.title{
    grid-area: title;
}

.picture{
    grid-area: picture;
}

.recipe_text{
    grid-area: recipe_text;
}

.item .title{
    font-size: 2em;
    height: 1.5em;
    text-align: center;
}

.item .image{
    height: 15em;
}

.item img{
    max-width:100%;
    max-height:100%;
}

.recipe {
    width: 100%;
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        "ingredients  steps  food_picture";
    color: #444;
    background: #E0EAFC;  /* fallback for old browsers */
}

.ingredients {
    grid-area: ingredients;
}

.steps {
    grid-area: steps;
}

.food_picture{
    grid-area: food_picture;
}
